@charset "utf-8";
/* CSS Document */

.sub_visual{
	width:1200px;
margin:0 auto -58px auto;
position:relative;
z-index:9;

}



.sub_container{
	width:1198px;
	margin:0 auto;
	position:relative;
	border:dotted #c2dab3;
	border-width:0 1px;
	
}


.sub_container .left{
	width:202px;
	float:left;	
	padding-top:60px;

}


.sub_container .left .left_menu {
	width:169px;
	margin-left:16px;
}









.sub_container .left .ebook{
	margin-top:18px;
	margin-left:16px;
}


.sub_container .contents{
	min-height:800px;
	font-size:12px;
	margin-left:201px;
	padding-top:48px;
	position:relative;
	border-left:dotted 1px #c2dab3;
}





.sub_container .contents .location{
	text-align:right;
	font-size:0;
	position:absolute;
	right:146px;
	top:-20px;
	z-index:9;
}




.sub_container .contents .location >li{
	display:inline-block;
	font-size:11px;
	background:url(../images/sub/sub1/loca_icon2.gif) no-repeat left top;
	padding-left:9px;
	margin-left:10px;
}

.sub_container .contents .location >li a{
color:#666;
}


.sub_container .contents .location .first{
	background:url(../images/sub/sub1/loca_icon1.png) no-repeat left top;
	padding-left:12px;
}
.sub_container .contents .location >li a{
color:#666;
}


.sub_container .contents .location .first{
	background:url(../images/sub/sub1/loca_icon1.png) no-repeat left top;
	padding-left:12px;
}

.sub_container .contents .sub_con_title{
	margin-top:17px;
	margin-bottom:46px;
	text-align:center;
}

.sub_container .contents .sub_pn{
	text-align:center;
	margin-bottom:50px;
}

.sub_container .contents h3{
	margin-top:50px;
	margin-left:129px;
}

.sub_container .contents h4{
	margin-top:40px;
	margin-left:129px;
}

.sub_container .contents h5{
	margin-top:21px;
	margin-bottom:10px;
 	margin-left:120px;
}


.sub_container .contents h6{
	margin-top:21px;
	margin-bottom:14px;
	margin-left:129px;
}

.sub_container .contents .img_box{
	width:898px;
	margin-top:20px;
	position:realtive;
}


.sub_container .contents .img_box >div{
	float:left;
	margin-bottom:64px;
}




.sub_container .contents .img_box >div ul{
	float:left;
	margin-bottom:64px;
	margin-left:50px;
}

.sub_container .contents .sub_con{
	text-align:center;
	padding-bottom:50px;	
}


